# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

React/open-source-it/packages/react-devtools-core/dist
React/open-source-it/packages/react-devtools-extensions/chrome/build
React/open-source-it/packages/react-devtools-extensions/chrome/*.crx
React/open-source-it/packages/react-devtools-extensions/chrome/*.pem
React/open-source-it/packages/react-devtools-extensions/firefox/build
React/open-source-it/packages/react-devtools-extensions/firefox/*.xpi
React/open-source-it/packages/react-devtools-extensions/firefox/*.pem
React/open-source-it/packages/react-devtools-extensions/shared/build
React/open-source-it/packages/react-devtools-extensions/.tempUserDataDir
React/open-source-it/packages/react-devtools-fusebox/dist
React/open-source-it/packages/react-devtools-inline/dist
React/open-source-it/packages/react-devtools-shell/dist
React/open-source-it/packages/react-devtools-timeline/dist
